table.tabla1{
    border: red 1px solid;
}


table.tabla2{
    border: red 1px solid;
}

td.letraA{
    border: blue 2px solid;
   }

table.tabla3{
    border: green 1px solid;
   }
td.verde{
    border: green 1px solid;
    height: 10px;
    width: 200px;
    text-align: center;
   }